<mat-toolbar class="toolbar">
    <img class="abicca" src="ABICCA.png" alt="LogoABICCA">

    <div class="buttons">
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/noticias">Noticias</a>
        <a mat-button routerLink="/sobrenos">Sobre nós</a>
        <!-- <a mat-button routerLink="/galeria">Galeria</a> -->
        <a mat-button routerLink="/contatos">Contato</a>
        <a class="associe" mat-button>Associe-se</a>
        <a *ngIf="sair" (click)="Sair()" class="signOut" mat-button>Sair</a>
    </div>

</mat-toolbar>
