.container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 50px auto 0;
    padding: 2vh;
    background-color: #ffffff;
    border-radius: 1vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.form-container {
    flex: 2;
    margin-right: 6vh;
    color: var(--texto3);
    min-width: 30vh;
}

.form-container h2 {
    color: var(--primaria);
}

.contato {
    flex: 1;
    background-color: #f8f9fa;
    padding: 2vh;
    border-radius: 1vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-width: 25vh;
}

.contato h2, .contato h3 {
    color: var(--primaria);
}

.contato p {
    font-size: 2vh;
    margin-bottom: 1vh;
    color: var(--texto2);
}

.email-link {
    color: var(--texto2);
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 2vh;
}

label {
    font-size: 2vh;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 1.5vh;
    border: 2px solid #ccc;
    border-radius: 0.5vh;
    background: transparent;
    color: #333;
    font-size: 2vh;
}

textarea {
    resize: vertical;
    min-height: 10vh;
}

.submit-btn {
    background-color: var(--terciaria);
    color: white;
    padding: 1.5vh 3vh;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 2vh;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

.submit-btn:hover {
    background-color: #d8a500;
    transform: translateY(-0.5vh);
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin:0px;
    }

    .form-container {
        margin-right: 0;
        margin-bottom: 5vw;
    }

    .contato {
        margin-top: 5vw;
    }

    .contato p{
        font-size: 3vw;
    }
}

@media  only screen and (min-width: 480px) and (max-width: 768px) {
    .form-container {
        flex: 1;
        margin-right: 0;
    }

    .contato {
        flex: 1;
        margin-top: 5vw;
    }

    label {
        font-size: 2vw;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        font-size: 1.8vw;
    }

    .submit-btn {
        font-size: 2vw;
    }
}

@media  only screen and (min-width: 200px) and  (max-width: 480px) {
    .container {
        padding: 3vw;
    }

    .form-container {
        margin-right: 0;
        margin-bottom: 4vw;
    }

    .contato {
        margin-top: 3vw;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        font-size: 1.5vw;
    }

    .submit-btn {
        font-size: 1.8vw;
    }
}
