<div class="fundo">
  <form #loginForm="ngForm" (ngSubmit)="onLogin()" class="login-form">
    <h3>Login</h3>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" name="senha" [(ngModel)]="senha" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
      {{ isLoading ? 'Entrando...' : 'Entrar' }}
    </button>

    <div *ngIf="loginErro" class="erro-login">
      Credenciais inválidas.
    </div>
  </form>
</div>
