* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: var(--neutra);
}

.header {
    text-align: center;
    position: relative;
    margin: 20px;
}

.header h1 {
    display: inline-block; /* Faz o título se comportar como um bloco em linha */
    position: relative; /* Para que os pseudo-elementos sejam posicionados em relação ao h1 */
    padding: 0 10px; /* Espaçamento interno para separar o texto das bordas */
    z-index: 1; /* Coloca o texto acima das bordas */
}

.header h1::before,
.header h1::after {
    content: ''; /* Necessário para os pseudo-elementos */
    display: inline-block; /* Para que as bordas fiquem na mesma linha */
    width: 10px; /* Ajuste a largura das bordas */
    border-bottom: 2px solid var(--texto3); /* Borda mais grossa */
    vertical-align: middle; /* Alinha verticalmente */
}

.row {
    width: 80%;
    margin: auto;
}

.header {
    width: 60%;
    text-align: center;
    margin: auto;
}

.header h1 {
    padding-top: 30px;
    margin: 0px;
    font-size: 45px;
    color: var(--texto3);
}

.text {
    color: var(--texto3); /* Certifique-se de que essa variável está definida */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card {
    flex: 1;
    margin: 5px 5px;
    color: var(--texto3);
}

.card a{
    display: inline-block;
    text-decoration: none;
    border: none;
    color: var(--texto3);
    font-size: 1.6rem;
}

.date-container {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--texto3);
}

.date-container i{
    margin-right: 5px;
    font-size: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card h4 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.card p {
    font-size: 15px;
    line-height: 1.5;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}
