<footer>
    <div class="container">
        <section>
            <h1 class="text">Quem pode se associar?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sint a esse vel consequuntur,
                repudiandae distinctio nostrum officia voluptates quasi veritatis cumque iure odio harum expedita cum ab
                quod sit.
            </p>
        </section>

        <div class="imagem">
            <img src="LogoABICCA.png" alt="">
        </div>
    </div>
</footer>
