<div class="container">
    <div class="about-section">
        <p>Associação Brasileira da Indústria de Cabos, Correntes e Acessórios (ABICCA) foi criada para preencher uma
            lacuna significativa no mercado, atuando para agrupar e fortalecer as indústrias de cabos de aço, cabos de
            fibras, correntes e lingas de amarração e movimentação de carga, bem como seus componentes e acessórios.
            Correntes de elos comuns, correntes de elos soldados, cabo de aço e cabo de fibra, além dos acessórios para
            correntes e cabo de aço – contribuem diretamente para a geração de riquezas e atendem setores como a
            construção civil, agricultura, transporte, comércio e alimentos. São, ainda, utilizadas pelo Setor de Óleo e
            Gás, que se apresenta como o terceiro Setor da economia que mais impulsiona o PIB nacional, representando
            cerca de 13% de sua fatia.
            Desde a sua fundação, em 2020, a ABICCA tem se dedicado a promover a colaboração entre fabricantes,
            universidades, centros de pesquisa e laboratórios, formando um ecossistema robusto de inovação, qualidade e
            segurança.
            <br>

            A ABICCA tem em seu DNA defender os interesses de seus associados contra práticas desleais, garantindo um
            ambiente de mercado justo e ético.
            Este compromisso com a integridade se reflete nas ações da Associação: representação junto aos órgãos
            governamentais, a educação e capacitação de profissionais através de cursos e seminários, além da promoção
            de normas técnicas que asseguram a padronização e a ampla segurança dos produtos do setor.

        </p>
    </div>

    <div class="valores_missao">
        <div class="titulo-container">
            <h4 class="titulo">Nossos Valores</h4>
            <p class="texto">Nosso compromisso é proteger as empresas associadas contra práticas comerciais desleais,
                garantindo que a ética e a justiça prevaleçam no mercado. Este valor sublinha a importância de manter
                uma
                conduta ética no ambiente de negócios, promovendo uma concorrência justa e saudável. Além disso,
                buscamos
                representar as empresas associadas junto aos órgãos governamentais, com o
                intuito de harmonizar e padronizar as ações do setor nas esferas públicas, assegurando que as políticas
                e
                regulamentações adotadas favoreçam os interesses das empresas envolvidas. Ao desempenharmos o papel de
                porta-voz, buscamos influenciar positivamente as decisões
                governamentais, trabalhando para que as normas e regulamentos atendam às necessidades do setor e
                contribuam
                para seu desenvolvimento sustentável.</p>
        </div>

        <div class="titulo-container">
            <h4 class="titulo">Missão</h4>
            <p class="texto">Nosso objetivo é reunir as indústrias fabricantes de cabos de aço, cabos de fibra,
                correntes e lingas de amarração e movimentação de carga, seus componentes e acessórios, além de
                instituições
                de ensino, centros de pesquisa e laboratórios, a fim de formar um ecossistema robusto de inovação,
                qualidade
                e segurança, que beneficie todos os membros do setor.</p>
        </div>
    </div>
    <h2>NOSSOS COMPROMISSOS</h2>
    <div class="compromissos">

        <div class="compromisso-item">
            <h6 class="compromisso-titulo">Defender</h6>
            <p class="compromisso-texto">Proteger as empresas associadas contra ameaças que possam comprometer as boas
                práticas comerciais, garantindo um ambiente de negócios saudável e ético.</p>
        </div>
        <div class="compromisso-item">
            <h3 class="compromisso-titulo">Representar</h3>
            <p class="compromisso-texto">Atuar como porta-voz do setor nas esferas governamentais, promovendo e
                defendendo os interesses dos associados com base em uma visão estratégica e colaborativa.</p>
        </div>
        <div class="compromisso-item">
            <h3 class="compromisso-titulo">Interagir</h3>
            <p class="compromisso-texto">Estabelecer um diálogo constante com diferentes entidades representativas,
                tanto de empresas associadas quanto de setores correlatos, para promover a troca de conhecimento e
                fortalecer o setor como um todo.</p>
        </div>
        <div class="compromisso-item">
            <h3 class="compromisso-titulo">Colaborar</h3>
            <p class="compromisso-texto">Trabalhar em conjunto com o Estado e outras associações, atuando como um órgão
                técnico e consultivo, contribuindo para a análise e solução de questões relacionadas à tecnologia
                industrial e à inovação no setor.</p>
        </div>
        <div class="compromisso-item">
            <h3 class="compromisso-titulo">Disseminar</h3>
            <p class="compromisso-texto">Compartilhar informações relevantes e promover a educação contínua por meio de
                cursos, seminários e congressos, com o objetivo de capacitar os profissionais do setor e fomentar o
                desenvolvimento de melhores práticas.</p>
        </div>
    </div>
    
    <div class="container2">

        <section aria-labelledby="direitos-deveres">
            <header>
                <h1 id="direitos-deveres">Conheça os nossos VALORES</h1>
            </header>

            <article>
                <ul>
                    <h5>Defender as empresas associadas de competições desleais.</h5>
                    <li>Defender as empresas associadas de
                        práticas comerciais injustas não só
                        promove um campo de atuação mais
                        equitativo para todos, mas também
                        protege a integridade e a reputação
                        do setor.</li>

                    <h5>Representar os associados junto a órgãos do governo, para uniformizar as ações das empresas nas
                        esferas governamentais.</h5>
                    <li>A ABICCA assume papel de porta-voz,
                        buscando influenciar e uniformizar
                        políticas e regulamentações para
                        beneficiar os setores que representa,
                        um compromisso com a liderança
                        ativa, a defesa dos interesses do setor
                        e o desenvolvimento de um ambiente
                        de negócios favorável.</li>
                </ul>
            </article>
        </section>

    </div>



    <div class="cta-section">
        <h2>Transforme sua experiência conosco!</h2>
        <p>Entre em contato e descubra como podemos ajudar sua empresa a crescer.</p>
        <a routerLink="/associese" class="button">Fale Conosco</a>
    </div>

    <!-- <div class="values-section">
        <h2>Nossos Valores</h2>
        <ul>
            <li>Compromisso com a excelência</li>
            <li>Foco no cliente</li>
            <li>Inovação constante</li>
            <li>Trabalho em equipe</li>
            <li>Integridade e transparência</li>
        </ul>
    </div> -->
</div>