<div class="galeria">
  <div class="containerImgs">
    <div *ngIf="images && images.length > 0" class="carousel-container">
      <img *ngFor="let image of images; let i=index"
          [src]="image.imageSrc" [alt]="image.imageAlt"
          [ngClass]="{'image-active': selectedIndex === i}"
          class="fade"
      >
      <div *ngIf="indicators" class="carousel-dot-container">
          <span *ngFor="let dot of images; let i=index"
            class="dot"
            [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)">
          </span>
      </div>
      <button *ngIf="controls" class="btn-carousel btn-prev"
        (click)="onPrevClick()"
        >
        <fa-icon [icon]="faArrowCircleLeft" class="icon-carousel icon-prev"></fa-icon>
      </button>

      <button *ngIf="controls" class="btn-carousel btn-next"
        (click)="onNextClick()"
      >
        <fa-icon [icon]="faArrowCircleRight" class="icon-carousel icon-next"></fa-icon>
      </button>
    </div>
  </div>
</div>
