<div class="container">
    <div class="imagem">
        <h1>Associados</h1>
        <div class="imagem_ord">
            <img src="BRASiLAMARRAS.png"/>
            <img src="CSL.png" />
            <img src="lankhorst_euronete_brasil_logo.png" />
            <img src="VAN_BEEST.png" />
            <img src="TEIJIN.png" />
        </div>
    </div>
    <div class="texto">
        <h5>Por que se associar à A.B.I.C.C.A?</h5>
        <p>Associados participam ativamente das decisões estratégicas e integram comissões temáticas.<br>
            Tenha acesso a informações relevantes sobre o mercado.<br>
            Apoio da Abicca em ações de defesa contra concorrência desleal e importações prejudiciais.<br>
            Tenha representatividade junto a órgãos governamentais.<br>
        </p>

        <button class="bttn-SM" mat-button>
          <span class="texto">Saiba mais</span>
        </button>
    </div>
</div>
