.container {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    /* background-color: #00ced1; */
}

.imagem {
    align-self: center;
    width: 100%;
}

.imagem h1{
    text-align: center;
    font-variant: small-caps;
    line-height: 1.5;
    letter-spacing: normal;

    background-image: var(--fontDegrade1);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-text-fill-color: transparent;
}

.imagem_ord {
    display: flex;
    column-gap:auto;
    justify-content: center;
}

.texto {
    width: 100%;
    align-self: center;
}

.texto h5 {
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: normal;

    background-image: var(--fontDegrade1);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-text-fill-color: transparent;
}

.texto p {
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 15px;
    line-height: 1.5;
    letter-spacing: normal;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    background-image: var(--fontDegrade1);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-text-fill-color: transparent;
}



.bttn-SM {
    display: flex;
    width: fit-content;
    margin: 0 auto 20px;
    background: var(--texto1);
    box-shadow: 0 1px 12px var(--primaria);
}

.bttn-SM .texto {
  color: var(--secundaria);
}


*::selection {
    -webkit-text-fill-color: white;
    background-color: #027274;
}

p::first-letter {
    font-size: 2rem;
}

.bttn-SM:hover {
    background-color: var(--acao);
}
