.corpo{
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-image: linear-gradient(135deg, var(--primaria), var(--secundaria), var(--terciaria)); */
}


@media only screen and (min-width:1921px){
  .corpo{
    max-width: var(--widthCorpo);
    margin: auto;

  }
}
