<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

<div class="container">
    <div class="header">
        <h2>Últimas Notícias</h2>
    </div>
    <div class="grid-container">
        <!-- Notícia 1 -->
        <div *ngFor="let item of paginatedData" class="noticia">
          <div class="img">
              <a href="#"><img src="Galeria/METALURGICA.png" alt="Notícia 1"></a>
          </div>
          <div class="texto">
              <h3><a href="#">Título da Notícia 1</a></h3>
              <p>Descrição breve da notícia 1.</p>
              <div class="data">
                  <i class="bi bi-clock-history"></i>
                  <span>14/10/2024</span>
              </div>
          </div>
        </div>

        <!-- Notícia 2 -->
        <!-- <div class="noticia">
            <div class="img">
                <a href="#"><img src="Galeria/METALURGICA.png" alt="Notícia 2"></a>
            </div>
            <div class="texto">
                <h3><a href="#">Título da Notícia 2</a></h3>
                <p>Descrição breve da notícia 2.</p>
                <div class="data">
                    <i class="bi bi-clock-history"></i>
                    <span>14/10/2024</span>
                </div>
            </div>
        </div>

        Notícia 3
        <div class="noticia">
            <div class="img">
                <a href="#"><img src="Galeria/METALURGICA.png" alt="Notícia 3"></a>
            </div>
            <div class="texto">
                <h3><a href="#">Título da Notícia 3</a></h3>
                <p>Descrição breve da notícia 3.</p>
                <div class="data">
                    <i class="bi bi-clock-history"></i>
                    <span>14/10/2024</span>
                </div>
            </div>
        </div>

        Notícia 4
        <div class="noticia">
            <div class="img">
                <a href="#"><img src="Galeria/METALURGICA.png" alt="Notícia 4"></a>
            </div>
            <div class="texto">
                <h3><a href="#">Título da Notícia 4</a></h3>
                <p>Descrição breve da notícia 4.</p>
                <div class="data">
                    <i class="bi bi-clock-history"></i>
                    <span>14/10/2024</span>
                </div>
            </div>
        </div> -->
    </div>

    <!-- Campo de Paginação -->
    <div class="pagination">
      <mat-paginator [length]="DATA.length" [pageSize]="4" [hidePageSize]="true" (page)="onPageChange($event)">
      </mat-paginator>
    </div>
</div>
