<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

<div class="container">
    <div class="header">
        <h2>Últimas Notícias</h2>
    </div>
    <div class="grid-container">
        <div *ngFor="let item of paginatedData; let i=index" class="noticia">
          <div class="img">
              <a (click)="onClick(item)"><img [src]="item.link_Imgs[0]" [alt]="'Notícia'+ (i+1)" ></a>
          </div>
          <div class="texto">
              <h3><a (click)="onClick(item)">{{item.titulo}}</a></h3>
              <p>{{item.descricao.substring(0,100) + '...'}}</p>
              <div class="data">
                  <i class="bi bi-clock-history"></i>
                  <span>{{item.data}}</span>
              </div>
          </div>
        </div>
    </div>

    <!-- Campo de Paginação -->
    <div class="pagination">
      <mat-paginator [length]="DATA.length" [pageSize]="4" [hidePageSize]="true" (page)="onPageChange($event)">
      </mat-paginator>
    </div>
</div>
