* {
    box-sizing: border-box;
    background-color: var(--neutra);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px; /* Aumenta o espaçamento interno */
    text-align: center;
}

section {
    max-width: 600px;
    margin-bottom: 30px; /* Espaço adicional abaixo da seção */
}

.text {
    font-size: 40px;
    font-weight: bold;
    color: #003366; 
    margin: 20px auto 20px; /* Espaço em volta do título */
}

section p {
    color: #003366; 
    line-height: 1.8; /* Maior espaçamento entre linhas */
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 15px; /* Espaço adicional abaixo do parágrafo */
}

.video-container {
    margin-top: 20px;
}

.video-container iframe {
    width: 100%;
    height: 250px;
    max-width: 500px;
}

.box-line-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-btn {
    display: block;
    padding: 20px 15px;
    background-color: #fdb943;
    color: #003366;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    width: 100%;
    max-width: 300px;
    margin: 10px 0; /* Espaçamento vertical ao redor de cada botão */
}

.social-btn:hover {
    background-color: var(--terciaria);
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 15px; /* Mantém o espaçamento interno em telas médias */
    }

    .text {
        font-size: 30px;
    }

    section {
        max-width: 100%;
    }

    .video-container iframe {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px; /* Reduz o espaçamento interno em telas pequenas */
    }

    .text {
        font-size: 24px;
    }

    section p {
        font-size: 15px;
    }

    .video-container iframe {
        height: 180px;
    }

    .social-btn {
        padding: 15px 10px;
    }
}

/* Responsividade para iPads (telas entre 768px e 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 40px 30px; /* Ajuste do padding para manter espaço adequado */
    }

    .text {
        font-size: 32px; /* Reduz ligeiramente o tamanho do texto para caber melhor */
    }

    section {
        max-width: 700px; /* Limita a largura para ficar mais proporcional na tela */
    }

    .video-container iframe {
        height: 220px; /* Ajuste de altura do vídeo para melhor visualização */
    }

    .social-btn {
        max-width: 250px; /* Limita a largura dos botões para melhor alinhamento */
    }

    .box-line-footer {
        gap: 15px; /* Diminui o espaço entre os botões */
    }
}
