<div class="container">
    <div class="imagem">
        <h1>Associados</h1>
        <div class="imagem_ord">
            <img src="assets/BRASiLAMARRAS.png"/>
            <img src="assets/CSL.png" />
            <img src="assets/lankhorst_euronete_brasil_logo.png" />
            <img src="assets/VAN_BEEST.png" />
            <img src="assets/TEIJIN.png" />
            <img src="Galeria\SR_ABICCA_LOGO-Novo.png"/>
        </div>
    </div>
    <div class="texto">
        <h5>Por que se associar à A.B.I.C.C.A?</h5>
        <p class="descricao">
          <li>Associados participam ativamente das decisões estratégicas e integram comissões temáticas.</li>
          <li>Tenha acesso a informações relevantes sobre o mercado.</li>
          <li>Apoio da Abicca em ações de defesa contra concorrência desleal e importações prejudiciais.</li>
          <li>Tenha representatividade junto a órgãos governamentais.</li>
        </p>

        <button class="bttn-SM" mat-button routerLink="/associese">
          <span><p class="texto2">SAIBA MAIS</p></span>
        </button>
    </div>
</div>
