.container {
  display: flex;
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  /* border: 1px solid black; */
  background-image: var(--image-sobre);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--neutra);
  /* background-color: rgb(110, 102, 102); */
}

.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}



.titulo {
  font-weight: bold;
  color: var(--quarta);
  font-family: "Barlow", sans-serif;
  font-size: 4em;
  margin-bottom: 30px;
  text-shadow: 1px 1px var(--neutra);
}

.texto {
  color: var(--primaria);
  text-align: center;
  font-size: 2em;
  line-height: 1;
  text-shadow: 1px 1px var(--neutra);
}

.button{
  width: fit-content;
  height: fit-content;
  padding: 14px 30px;
  color: var(--primaria);
  background-color: var(--neutra);
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  border: 1px solid var(--primaria);
}

.button:hover {
  background-color: var(--quarta);
}
