.container {
    padding: 20px;
    /* background: linear-gradient(to right, #55d48a, #404180);   */
    background-color: var(--neutra);
    height: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.column {
    flex: 1;
    margin: 0 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    max-width: 100%;
    overflow: auto;
    /* background: #ffffff; */
}

h5 {
    background-image: var(--fundoSite);
    color: transparent;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-text-fill-color: transparent;
}

.img{
    max-width: 900px;
    max-height: 800px;
}
