<div class="container">
    <div class="column">
        <h5>QUEM SOMOS</h5>
        <div class="text">
            <p>
                Associação Brasileira da Indústria de Cabos, Correntes e Acessórios (ABICCA) foi criada para preencher
                uma lacuna significativa no mercado, atuando para agrupar e fortalecer as indústrias de cabos de aço, cabos
                de fibras, correntes e lingas de amarração e movimentação de carga, bem como seus componentes e acessórios.
                Correntes de elos comuns, correntes de elos soldados, cabo de aço e cabo de fibra, além dos acessórios
                para correntes e cabo de aço – contribuem diretamente para a geração de riquezas e atendem setores como a
                construção civil, agricultura, transporte, comércio e alimentos. São, ainda, utilizadas pelo Setor de
                Óleo e Gás, que se apresenta como o terceiro Setor da economia que mais impulsiona o PIB nacional,
                representando cerca de 13% de sua fatia. Desde a sua fundação, em 2020, a ABICCA tem se dedicado a promover
                a colaboração entre fabricantes, universidades, centros de pesquisa e laboratórios, formando um ecossistema
                robusto de inovação, qualidade e segurança. A ABICCA tem em seu DNA defender os interesses de seus
                associados contra práticas desleais, garantindo um ambiente de mercado justo e ético. Este compromisso com a
                integridade se reflete nas ações da Associação: representação junto aos órgãos governamentais, a educação e
                capacitação de profissionais através de cursos e seminários, além da promoção de normas técnicas que asseguram
                a padronização e a ampla segurança dos produtos do setor.
            </p>
        </div>
    </div>
    <div class="column">
        <h5>NOSSOS VALORES</h5>
        <div class="text">
            <p>
                Defender as empresas associadas de competições desleais. Este valor destaca a importância da ética nos
                negócios e da justiça no ambiente de mercado. Defender as empresas associadas de práticas comerciais
                injustas não só promove um campo de atuação mais equitativo para todos, mas também protege a integridade e
                a reputação do setor. Este valor pode ser interpretado como um compromisso com a justiça, ética e igualdade
                de condições no mercado. Representar as empresas associadas junto a órgãos do governo, com o objetivo de
                uniformizar as ações das empresas nas esferas governamentais. Este aspecto reflete o valor da advocacia e
                da representatividade. Ao representar as empresas associadas perante o governo, a Associação assume um papel
                de porta-voz, buscando influenciar e uniformizar políticas e regulamentações de maneira que beneficiem o
                setor. Isso mostra um comprometimento com a liderança ativa, a defesa dos interesses do setor e o
                desenvolvimento de um ambiente de negócios favorável.
            </p>
        </div>
    </div>
    <div class="column">
        <h5>MISSAO</h5>
        <div class="text">
            <p>
                Agrupar as indústrias fabricantes de cabos de aço, cabos de fibras, correntes e lingas de amarração e
                movimentação de carga em geral, seus componentes e acessórios, bem como universidades, centros de
                pesquisa e laboratórios de interesse de todos ou parte de seus membros formando um ecossistema robusto de
                inovação, qualidade e segurança.
            </p>
        </div>
    </div>
    <div class="column">
        <h5>NOSSOS COMPROMISSOS</h5>
        <div class="text">
            <p>
                <strong>DEFENDER</strong> as empresas contra as ameaças que podem afetar as práticas comerciais.
                <strong>REPRESENTAR</strong> os interesses dos associados nas esferas governamentais, funcionando como um
                porta-voz do setor.
                <strong>CONECTAR</strong> a indústria, a academia e instituições regulamentadoras.
                <strong>INTERAGIR</strong> com diferentes entidades representativas das empresas associadas e de setores
                a elas relacionados.
                <strong>COLABORAR</strong> com o Estado e demais associações, atuando como órgão técnico e consultivo no
                estudo e solução dos problemas de tecnologia industrial básica.
                <strong>DISSEMINAR</strong> informações e promover a educação através de cursos, seminários ou congressos.
            </p>
        </div>
    </div>
</div>
