<div class="container">
    <h1>Direitos e Deveres</h1>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio omnis magni iure atque repudiandae
            doloremque quis perferendis voluptates ab blanditiis laborum nemo ea, quidem, aliquam, exercitationem sint
            hic asperiores nihil?</li>
        <li>Veniam et, aspernatur molestiae culpa adipisci dicta voluptatem labore expedita, nulla esse nam ipsum illum.
            Alias possimus natus, accusamus aperiam iusto, culpa, veniam dicta consectetur voluptatem laborum nemo
            commodi provident.</li>
        <li>Rem accusantium, ipsum nisi, quam id eos recusandae repellat velit incidunt, deserunt eius fugiat aliquam
            molestias. Facere tempore harum est. Est voluptas in quam temporibus inventore magni quos distinctio
            debitis.</li>
        <li>Consequuntur nisi aut saepe aliquam itaque excepturi numquam libero, distinctio labore! Debitis dicta quam
            atque, veniam suscipit alias veritatis. Alias rerum deleniti libero, ullam laudantium ipsum esse corrupti
            iusto inventore.</li>
        <li>Consequuntur nisi aut saepe aliquam itaque excepturi numquam libero, distinctio labore! Debitis dicta quam
            atque, veniam suscipit alias veritatis. Alias rerum deleniti libero, ullam laudantium ipsum esse corrupti
            iusto inventore.</li>
    </ul>
</div>