* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--quarta);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 50px auto 0 ;
  padding: 0 20px;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid black;
}

header h1{
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    font-weight: bold;
    /* color: var(--texto3); */
    color: var(--primaria)  ;
    margin-bottom: 20px;
}


article ul {
    list-style-type: none;
    padding-left: 0;
}

article ul h5 {
  color: var(--primaria);
}

article ul li {
    font-size: 18px;
    color: black ;
    margin-bottom: 15px;
}

/* Responsividade*/

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 8vw;
        line-height:1;
        text-align: center;
    }

    article ul li {
        font-size: 3vw;
        line-height:1;
    }

    article h5{
        font-size:5vw;
        line-height:1;
    }

  }

@media (max-width: 480px){
    .container{
        height: auto;
    }

    header h1{
        font-size: 7vw;
    }

    article h5{
        font-size:5vw;
    }

    article ul li{
        font-size: 3vw;
    }

}
