<div class="container">
    <section aria-labelledby="direitos-deveres">
        <header>
            <h1 id="direitos-deveres">Direitos e Deveres</h1>
        </header>

        <article>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, mollitia. Sit animi quos tenetur,
                    dolore eius nemo repellat at voluptates. Odio qui distinctio ipsam quia voluptatum veniam eligendi
                    voluptatem harum!</li>

                <li>Autem quae quidem soluta, minima aliquid quas dicta incidunt, dolorum amet mollitia doloremque error
                    nobis! Saepe cum nam laudantium, quos, molestiae harum atque, optio soluta quo tenetur quae enim
                    fugiat!</li>

                <li>Illum, autem repudiandae! Vel incidunt quis sit rerum, quas minima repellendus, velit aliquid hic
                    qui ratione cupiditate, sapiente quibusdam eum earum. Ad fugit repellat vitae dicta perspiciatis
                    magnam quisquam voluptates!</li>

                <li>Iure consequatur dignissimos necessitatibus nesciunt voluptas at quod tempore sapiente ab deserunt
                    maiores esse veritatis reprehenderit, tempora porro delectus fugiat nostrum ullam exercitationem
                    praesentium laboriosam! Consectetur perferendis ea suscipit esse!</li>
            </ul>
        </article>
    </section>
</div>