<div class="container">
    <div class="esquerda">
        <img [src]="'Galeria/Noticias/' + item.link_Imgs[0]" alt="" class="imagem">
    </div>
    <div class="direita">
      <span class="titulo">{{item.titulo}}</span>
      <div class="data">
          <i class="bi bi-clock-history"></i>
          <span class="data-text">{{item.data}}</span>
      </div>
      <div class="descricao" #descricaoRef [innerHTML]="descricaoProcessada"></div>
      <div class="scroll-indicator" *ngIf="isScrollable">&#x2193;</div>
    </div>
</div>
