/* You can add global styles to this file, and also import other style files */
@import '@aws-amplify/ui/dist/styles.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/vhp6xog.css");

*{
  font-family: "Barlow", sans-serif;
}

:root {
  --primaria: #005B9B;
  --secundaria: #084D6E;
  --terciaria: #00528D;
  --quarta: #fdb943;
  --quinta: #000850;
  --destaque: #333333;
  --neutra: #F5F5F5;
  --acao: #fdb943;
  --acao2: #FF6F30;
  --texto1: #f5f5f5;
  --texto2: #a0a0a0;
  --texto3: #164e63;

  --primary-color: #113f67;
  --primary-color-light: #1e5f8c;
  --secondary-color: #34699a;
  --accent-color: #f6b93b;
  --accent-color-light: #fad47e;
  --accent-color-dark: #e59f1f;
  --accent-rgb: 246, 185, 59;

  --bg-color: #f8f9fa;
  --card-bg: #ffffff;
  --text-color: #2d3748;
  --text-muted: #718096;
  --border-color: #e2e8f0;
  --border-rgb: 226, 232, 240;
  --button-text: #1a202c;

  --fundoSite: linear-gradient(125deg, #00ced1, #084d6e);
  --fontDegrade1: linear-gradient(45deg, #f5f5f5, #a0a0a0);

  --tamanhoBalancinho: 262px;
  --tamanhoBalancinhoCelular: 131px;
  --tamanhoBalancinhoTablet: 182px;
  --tamanhoBalancinhoReescalavel: 5240px;

  --widthCorpo: 1920px;

  --pattern1: url('../public/assets/Patern_Prancheta1.png');

  --image-sobre: url('../public/Galeria/Compromisso_SEM_LOGO.jpg');
  --image-sobre-celular: url('../public/Galeria/Compromisso_SEM_LOGO_Celular.jpg');
}

html{
  background-image: var(--pattern1);
  /* background-size: cover; */
  background-repeat: repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-color: var(--terciaria);
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: 'Urbanist', sans-serif; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ladislav", sans-serif; /* Fontes para os títulos */
}

.popup-noticia .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 5px;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media only screen and (min-width: 768px) and (max-width: 1280px){
  .popup-noticia .mat-mdc-dialog-container{
    min-width: unset;
    max-width: 90vw;
    max-height: 90vw;
    width: 90vw;
    height: auto;
    margin:auto;
  }
}

@media only screen and (min-width:480px) and (max-width:768px){
  .popup-noticia .mat-mdc-dialog-container{
    min-width: unset;
    max-width: 90vw;
    max-height: 90vw;
    width: 90vw;
    height: 90vh;
    margin:auto;
  }
}

@media only screen and (max-width: 480px){
  .popup-noticia .mat-mdc-dialog-container{
    min-width: unset;
    max-width: 90vw;
    max-height: 90vw;
    width: 90vw;
    height: 90vh;
    margin: auto;
  }
}





