/* You can add global styles to this file, and also import other style files */
@import '@aws-amplify/ui/dist/styles.css';

:root {
  --primaria: #00CED1;
  --secundaria: #084D6E;
  --terciaria: #000850;
  --quarta: #fdb943;
  --destaque: #333333;
  --neutra: #F5F5F5;
  --acao: #FF6F30;
  --texto1: #f5f5f5;
  --texto2: #a0a0a0;
  --texto3: #164e63;
  
  --fundoSite: linear-gradient(125deg, #00ced1, #084d6e);
  --fontDegrade1: linear-gradient(45deg, #f5f5f5, #a0a0a0);

  --tamanhoBalancinho: 262px;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif; /* Fontes para os títulos */
}

.popup-noticia .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 5px;
  max-width: calc(100% - 100px);
  max-height: calc(100% - 50px);
  margin-left: auto;
  width: fit-content;
  height: fit-content;
}
