*{
    margin: 0;
    overflow: hidden; /* Para esconder a barra de rolagem */
}

.container {
    position: relative;
    width: 100%;
    max-height: 80px;
    height: 10vw; /* Ocupa toda a altura da tela */
    background-color:var(--quarta);
    /* border: 1px solid black; */
}

.navio {
    position: absolute;
    max-width: 100px;
    max-height: 50px;
    width: 20vw;
    height: 10vw;
    background-color:var(--neutra); /* Cor do navio */
    clip-path: polygon(0 100%, 50% 0, 100% 100%); /* Forma de um triângulo */
    animation: moverNavio 5s linear infinite; /* Animação */
}

@keyframes moverNavio {
    0% {
        left: -100px; /* Começa fora da tela à esquerda */
        top: 50%; /* Centraliza verticalmente */
        transform: translateY(-50%); /* Ajusta para centralizar */
    }
    100% {
        left: 100%; /* Move para fora da tela à direita */
        top: 50%; /* Continua centralizado verticalmente */
        transform: translateY(-50%);
    }
}

@media only screen and  (max-width: 480px){

}

@media only screen and  (min-width: 480px) and (max-width: 768px){

}

@media only screen and  (min-width: 768px) and (max-width: 1280px){

}
