<div class="container">
    <div class="form-container">
        <h2>Entre em Contato</h2>
        <p>Preencha os campos abaixo para se conectar conosco:</p>
        <form [formGroup]="contatoForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" formControlName="nome" required>
          </div>
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" id="email" formControlName="email" required>
          </div>
          <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" formControlName="telefone" required>
          </div>
          <div class="form-group">
            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" formControlName="mensagem" required></textarea>
          </div>
          <button type="submit" class="submit-btn" [disabled]="!contatoForm.valid">Enviar</button>
        </form>
    </div>

    <!-- <aside class="contato">
        <h2>Contatos</h2>
        <p>Contate-nos pelos telefones:</p>
        <p>(00) 0000-0000 ou (00) 0000-0000</p>
        <p>Ou pelo e-mail:</p>
        <p><a href="mailto:administracao@portosprivados.org.br"
                class="email-link">administracao.org.br</a></p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi ducimus veritatis impedit aliquam, iste corporis ad esse excepturi nobis hic maxime, nam dicta repellat quia eum ea maiores placeat. Facere!.</p>

        <h3>Documentos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur blanditiis harum laudantium natus similique ad alias possimus, repellat quam, maxime dolores explicabo. Non at eaque delectus impedit repellat dolor? Ducimus!.</p>
    </aside> -->
</div>
