*{
    margin: 0;
    overflow: hidden; /* Para esconder a barra de rolagem */
    background-color:var(--neutra); /* Cor do céu */
}

.container {
    position: relative;
    width: 100%;
    height: 20vh; /* Ocupa toda a altura da tela */
}

.navio {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color:var(--texto3); /* Cor do navio */
    clip-path: polygon(0 100%, 50% 0, 100% 100%); /* Forma de um triângulo */
    animation: moverNavio 5s linear infinite; /* Animação */
}

@keyframes moverNavio {
    0% {
        left: -100px; /* Começa fora da tela à esquerda */
        top: 50%; /* Centraliza verticalmente */
        transform: translateY(-50%); /* Ajusta para centralizar */
    }
    100% {
        left: 100%; /* Move para fora da tela à direita */
        top: 50%; /* Continua centralizado verticalmente */
        transform: translateY(-50%);
    }
}
