<footer>
    <div class="container">
        <section>
            <h1 class="text">Seja um associado!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sint a esse vel consequuntur,
                repudiandae distinctio nostrum officia voluptates quasi veritatis cumque iure odio harum expedita cum ab
                quod sit.
            </p>
            <div class="video-container">
                <iframe src=" https://www.youtube.com/embed/hv9oXhhOCWs?si=UAl7QDq6I043NfIK"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>

        <div class="box-line-footer">
            <div class="btn">
                <a href="#" class="social-btn">Quem pode se associar?</a>
                <a href="#" class="social-btn">Empresas Associadas</a>
                <a href="#" class="social-btn">Direito e Deveres</a>
                <a href="#" class="social-btn">Contatos</a>
            </div>
        </div>
    </div>
</footer>