* {
    box-sizing: border-box;
    background-color: var(--neutra);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0px auto 50px auto;
    height: fit-content;
}

section {
    max-width: 600px;
    text-align: left;
}

.text {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #003366;
    margin: 20px auto 05px;
}

section p {
    color: #003366;
    line-height: 1.6;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 10px;
}

.video-container {
    margin-top: 20px;
}

.video-container iframe {
    width: 100%;
    height: 250px;
    max-width: 500px;
}

.box-line-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-right: 150px;
}

.btn {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 20px;
}

.social-btn {
    display: block;
    padding: 20px 15px;
    background-color: #fdb943;
    color: #003366;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.social-btn:hover {
    background-color: var(--terciaria);
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .text {
        font-size: 30px;
        margin: 0px 10px;
    }

    section {
        max-width: 100%;
    }

    section p{
        font-size: 16px;
        margin: 10px 10px 20px;
    }

    .box-line-footer {
        flex-direction: column;
        align-items: center;
        margin: 0px 10px;
        gap: 20px;
    }

    .video-container iframe {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .container{
        flex-direction: column;
        height: auto;
    }

    .text {
        font-size: 24px;
    }

    section p {
        font-size: 15px;
        margin: 10px 10px 20px;
    }

    .video-container iframe {
        height: 180px;
    }

    .social-btn {
        padding: 15px 10px;
    }
}
