<footer>
    <div class="container">
        <section>
            <h1 class="text">Seja um associado!</h1>
            <p>Podem se associar à ABICCA indústrias que fabricam cabos de aço, fibras, correntes e acessórios para movimentação de cargas; empresas que comercializam, inspecionam ou realizam manutenção desses produtos; e universidades ou centros de pesquisa envolvidos em atividades de interesse para o setor.
            </p>
            <div class="video-container">
                <iframe src=" https://www.youtube.com/embed/hv9oXhhOCWs?si=UAl7QDq6I043NfIK"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>

        <!-- <div class="box-line-footer">
            <div class="btn">
                <a class="social-btn">Quem pode se associar?</a>
                <a class="social-btn">Empresas Associadas</a>
                <a class="social-btn">Direito e Deveres</a>
                <a class="social-btn">Contatos</a>
            </div>
        </div> -->
    </div>
</footer>
